body {
    margin: 0px;
    padding: 15px;
    background-color: lightblue;
}

#logo {
    font-weight: bold;
}

.bakgrundsbild {
    background-image: url("elefant.jpg");
    background-size: cover;
}

.navbar {
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: black;
}

#fraga1, #fraga2, #fraga3, #logo {
    font-size: 24px;
    margin: 5px 15px 15px 0px;
}

a:hover {
    color: blue;
}

.rod-text {
    color: red;
    font-weight: bold;
}

.text {
    color: white;
    text-shadow: 2px 2px 2px black;
}